---
layout: page
content-wrapper: false
title: Program of ML in PL Conference 2023
html-title: Program of <br><span class="logo"><span class="main-name">ML <span class="emph">i</span>n PL</span> <span class="sub-name">Conference 2023</span></span>
permalink: /program
mlinpl-inline-logo: <span class="logo"><span class="main-name">ML <span class="emph">i</span>n PL</span> <span class="sub-name">Conference</span></span>
---


<section class="container content-section">
    <div class="row">
        <div class="col-xs-12">
            <h2>/ Agenda</h2>
        </div>
    </div>
    {% for day in site.data.agenda %}
    <div class="row" style="margin-bottom: 70px;">
        <div class="col-xs-12">
            <h3 style="margin-bottom: 0px;">{{ day.title }}</h3>
            <h4><i class="fa-solid fa-location-dot"></i> {{ day.location }}</h4>
        </div>
        {% include agenda-day-details.html day=day %}
    </div>
    {% endfor %}
</section>

{% include talks.html talks-title="/ Keynote talks" talks-data=site.data.keynote-talks talk-title-prefix="Keynote talk" %}

{% include talks.html talks-title="/ Invited talks" talks-data=site.data.invited-talks talk-title-prefix="Invited talk" %}

{% include conference/panels.html %}

{% include talks.html talks-title="/ Contributed talks" talks-data=site.data.contributed-talks talk-title-prefix="Contributed talk" %}

{% include talks.html talks-title="/ Posters" talks-data=site.data.posters talk-title-prefix="Poster" %}

{% include talks.html talks-title="/ Student Research Workshop (SRW) Talks" talks-data=site.data.student-research-workshop-talks talk-title-prefix="SRW Talk" %}

{% include talks.html talks-title="/ Tutorials" talks-data=site.data.tutorials talk-title-prefix="Tutorial" %}
