<!-- Agenda Section -->
{% comment %}
Expects following parameters: agenda-data
{% endcomment %}
<section id="agenda" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Agenda</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 slider-container">
            <div class="slider-tabs">
                {% for day in include.agenda-data %}
                <a class="slider-item page-scroll person item-col-4" data-index="{{ forloop.index0 }}" href="#agenda">
                    <div class="center-verticaly" style="max-height: 34px;">
                        <div>
                            <span class="speaker-name">
                                {{ day.title }}
                            </span></br>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="slider-content">
                {% for day in include.agenda-data %}
                <div class="row slider-item-content" data-index="{{ forloop.index0 }}">
                    {% for session in day.sessions %}
                    {% for event in session.events %}
                    <div class="{{ session.event-class }} agenda-item">{{ event.title }}</div> 
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>