   <!-- jQuery Version 1.11.0 -->
   <script src="{{ "/libs/jquery.js" | prepend: site.baseurl }}"></script>

   <!-- Bootstrap Core JavaScript -->
   <script src="{{ "/libs/bootstrap.min.js" | prepend: site.baseurl }}"></script>

   <!-- Easing Plugin JavaScript -->
   <script src="{{ "/libs/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

   <!-- Countdown library -->
   <script src="{{ "/libs/countdown.min.js" | prepend: site.baseurl }}"></script>

   <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
   <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> -->

   <!-- Custom ML in PL JavaScript -->
   <script src="{{ "/bundle.js" | prepend: site.baseurl }}"></script>
