<div class="row">
    <div class="col-xs-12 d-flex" style="width: 100%; display: flex; flex-wrap: wrap; align-items: baseline;">
        {% for person in include.people-data %}
        <div style="text-align: center; width: 160px; margin: 20px 10px;">
            <div class="person-photo-with-social">
                <img style="width: 140px; margin-bottom: 1em;" class="person-photo" src="{{ person.image | relative_url }}" alt="{{ person.name }}">

                <div class="person-social">
                    {% if person.linkedin and person.linkedin != "" %}
                    <a href="{{ person.linkedin }}">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    {% endif %}
                    {% if person.twitter and person.twitter != "" %}
                    <a href="{{ person.twitter }}">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            <h5 style="text-align: center; margin-bottom: 0.2em">{{ person.name }}</h5>
            <p style="font-size: 12px; text-align: center; margin-bottom: 0.4em"><span>{{ person.title }}</span></p>
        </div>
        {% endfor %}
    </div>
</div>