    <!-- Organizers section -->
    <section id="organizers" class="container content-section">
        <div class="row">
            <div class="col-lg-12">
                <h2>/ Organizers</h2>
            </div>
            <div class="col-md-8">
                <p>
                    The conference is organized by ML in PL Association. We are a group of young people who are determined to bring the best of Machine Learning to Central and Eastern Europe by creating a high-quality event for every ML enthusiast. Although we come from many different academic backgrounds, we are united by the common goal of spreading the knowledge about the discipline.
                </p>
            </div>
            <div class="col-md-4">
                <a href="https://mlinpl.org"><img class="width-100" src="{{ "./images/mlinpl-logo-black.png" | relative_url }}"></a>
            </div>
        </div>

        <div style="width: 100%; display: flex;flex-wrap: wrap;align-items: center;">
            {% for organizer in site.data.mlss-organizers %}
            <div style="text-align: center; flex: 1; padding: 0.78571429em 0 0.71428571em 0 !important;">
                <img width="180px" style="border-radius: 50%; padding: 20px" class="rounded-circle float-right" src="{{ organizer.image | relative_url }}" alt="{{ organizer.name }}">
                <h5 style="text-align: center; margin-bottom: 0.2em">{{ organizer.name }}</h5>
                <p style="font-size: 12px; text-align: center; margin-bottom: 0.4em"><span>{{ organizer.team }}</span></p>
                <div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-evenly;" >
                    {% if organizer.linkedIn != ""  %}
                    <a href="{{ organizer.linkedIn }}">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    {% endif %}
                    {% if organizer.twitter != "" %}
                    <a href="{{ organizer.twitter }}">
                        <i class="fa-brands fa-square-twitter"></i>
                    </a>
                    {% endif %}
                    {% if organizer.twitter == "" and organizer.linkedIn == "" %}
                        <div style="height: 25px"></div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        
    </section>
