<!-- Speakers Section -->
<section id="invited-speakers" class="container content-section">
  <div class="row">
    <div class="col-lg-12">
      <h2>/ Invited Speakers</h2>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-12 invited-speakers-container">
    <div id="speaker-tab">
      {% for speaker in site.data.invited-speakers %}
      <div class="speaker-item" data-index="{{ forloop.index0 }}">
        <img src="{{ speaker.image | relative_url }}" alt="{{ speaker.name }} photo" class="person-photo speaker-photo">
        <div class="center-verticaly">
          <div>
            <span class="speaker-name">
              {{ speaker.name }}
            </span></br>
            <span class="speaker-title">
              {{ speaker.title }}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div id="speaker-details"><!-- Speaker details will be displayed here when a speaker is selected -->
    </div>
  </div>
  </div>
</section>
