    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>/ About</h2>
                <p>
                    MLSS<sub>S</sub> 2023 is a summer school providing a didactic introduction to a range of modern topics in Machine Learning and their applications in other discipline of Science, primarily intended for research-oriented graduate students. The school features a line-up of internationally recognised researchers who will talk with enthusiasm about their subjects. Our goal is to provide a unique opportunity to learn from and connect with the leading experts in the scenic setting of the historical city of Cracow, Poland.
                </p>
            </div>
        </div>
    </section>