<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <div class="col-md-7">
            <h2>/ About</h2>
            <p>
                {% include mlss/logo.html %} is a summer school providing a didactic introduction to a range of modern
                topics in  <span class="emph">Machine Learning and their applications in other disciplines of Science</span>, primarily intended for
                research-oriented graduate students. The school features a line-up of internationally recognised
                researchers who will talk with enthusiasm about their subjects. Our goal is to provide a unique
                opportunity to learn from and connect with the leading experts in the scenic setting of the historical
                city of Cracow, Poland.
            </p>
            <p>
                If you have any question about the school don't hesitate to contact us by email <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
            </p>
        </div>
        <div class="col-md-5 text-center">
            <div class="fadein fadein-4" style="filter: hue-rotate({{ site.color.hue-rotate }}deg);">
                <img class="width-100" src="{{ "./images/ai-generated-retouched/group_of_scientists_engineers_1.jpg" | relative_url }}">
                <img class="width-100" src="{{ "./images/ai-generated-retouched/group_of_people_discussing_new_ideas_1.jpg" | relative_url }}">
                <img class="width-100" src="{{ "./images/ai-generated-retouched/poster_session_1.jpg" | relative_url }}">
                <img class="width-100" src="{{ "./images/ai-generated-retouched/people_listening_to_the_presentation_1.jpg" | relative_url }}">
            </div>
        </div>
        <!-- <div class="col-lg-12">
            <span style="float: right; color: #AAA;">
                * Yes, these images were ai-generated-retouched by us using Midjourney v4 model.
            </span>
        </div> -->
    </div>
</section>