    <!-- Intro Header -->
    <header class="intro">
        <canvas id="intro-background" class="intro-background"></canvas>
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="event-heading" style="margin-bottom: 0.1em;">{% include mlss/logo.html %}</h1>
                        <h2 class="event-subheading">Machine Learning Summer School</br>on applications in <span class="emph">Science</span></h2>
                        <h3 class="event-date-location">26 June - 1 July / Cracow, Poland</h3>
                        <h3 class="event-countdown">
                            <span id="d-left">0</span> <sub>days</sub> / <span id="h-left">00</span> <sub>hours</sub> / <span id="m-left">00</span></span> <sub>minutes</sub> / <span id="s-left">00</span></span> <sub>seconds</sub>
                        </h3>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
