    <!-- Project Section -->
    <section id="project" class="container content-section">
        <div class="row">
            <div class="col-lg-12">
                <h2>/ Project</h2>
            </div>
            <div class="col-md-6">
                <p>
                The project, whose goal is to internationalize the Jagiellonian University of Cracow in the fields of machine learning and neurobiology through the implementation of a series of summer schools, is carried out under the SPINAKER program financed by the National Agency for Academic Exchange (NAWA).
                </p>
            </div>
                <div class="col-md-6">
                    <p>
                    Projekt, którego celem jest umiędzynarodowienie Uniwersytetu Jagiellońskiego w obszarach uczenia maszynowego oraz neurobiologii poprzez realizację cyklu intensywnych warsztatów w ramach szkół letnich, realizowany jest w ramach programu SPINAKER finansowanego przez Narodową Agencję Wymiany Akademickiej (NAWA).
                </p>
                <p>
                    Zapytania ofertowe: wkrótce.
                </p>
                </div>
            </div>
            <div class="col-lg-12">
                <img class="width-100" src="{{ "./images/institutions-logos/logo-EFS-RP-NAWA-UE-EN.png" | relative_url }}">
            </div>
        </div>
    </section>
