<!-- Venue Section -->
<section id="venue" class="container content-section">
    <div class="row">
        <div class="col-md-6">
            <h2>/ Venue</h2>
            <p>
                <strong>Jagiellonian University<br>Faculty of Mathematics and Information Technologies</strong>
            </p>
            <p>
                Address:<br>Profesora Stanisława Łojasiewicza 6,<br>30-348 Kraków
            </p>
        </div>
        <div class="col-md-6">
            <div class="standard-border">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.999986800456!2d19.904290276436544!3d50.030096071514926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165c861ad6cd9d%3A0x6fb4cfd2570e78e4!2sJagiellonian%20University%2C%20Faculty%20of%20Mathematics%20and%20Information%20Technologies!5e0!3m2!1sen!2spl!4v1683576122483!5m2!1sen!2spl" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>