<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include conference/about.html %}
    {% include conference/speakers.html %}
    {% include conference/timeline-with-calendars.html %}
    {% include conference/sponsors.html %}
    {% include conference/organizers.html %}
    {% include conference/scientific-board.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
</body>

</html>