<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include mlss/about.html %}
    {% include mlss/speakers.html %}
    <!-- Timeline Section -->
    <section id="timeline" class="container content-section">
    {% include timeline.html 
        timeline-title="Timeline" 
        timeline-data=site.data.mlss-timeline 
        timeline-col-width=7 
        image-col-width=5 
        date-col-width=5
        desc-col-width=7
    %}
    </section>
    {% include agenda.html agenda-data=site.data.mlss-agenda %}
    {% include mlss/stream.html %}
    {% include mlss/venue.html %}
    {% include mlss/organizers.html %}
    {% include mlss/project.html %}
    {% include footer.html %}
    {% include js.html %}
</body>
</html>